<div>
  <h1>TERMINOS DE COMPRA</h1>
  <hr />
  <h2>GENERAL</h2>
  <ul>
    <li><p>1- Si se te banea, del discord todo lo que haya comprado se te
        matendra, esto depende del producto que haya comprado, aqui abajo se
        explica</p>
      <ul>
        <li>
          PAGINAS WEB: se matendra ONLINE, todo mientras se pague su host de
          esta, Si se deja de pagar tienes una semana de antelación para volver
          a pagar y seguir vigente si no se eliminara todo tu pagina web de los
          servidores
        </li>
        <li>
          UNTURNED NPCs: Tu NPCs se quedaran en la WorkShop de Steam sin borrado
        </li>
        <li>
          CONFIGURACION DE UNTURNED: Se configura tu servidor como quieras hasta
          que se acabe la suscripción, de ahi ya no puedes comprar ningun
          servicio
        </li>
        <li>
          BOTS DE DISCORD: Se matendra ONLINE, Hasta que dejes de pagar su HOST
          de este, De ahi tendras una semana de antelación antes de que se borre
          su codigo y la cuenta de este
        </li>
      </ul>
    </li>
    <li>2-Usted tiene que pagar los "intereses de PayPal"</li>
    <li>3-No nos hacemos encargo si es estafado alguien que "vendio unos de
      nuestros productos"</li>
    <li>4-Los rembolsos no son posibles solo si el producto entregado es
      defectuoso y si es este caso puedes pedir un rembolso pero solo del
      defectuoso por ejemplo si fallo un npc de un pack de 20 NPCs se te dara el
      costo de lo que vale un NPCs</li>
    <li>5-Ningun dato sera compartido a ningun lugar ni a nadie</li>
    <li>5-Ningun dato sera compartido a ningun lugar ni a nadie</li>
    <li>7-A COMPRAR ALGO ACEPTAS LOS TERMINOS Y CONDICIONES</li>
  </ul>
  <hr />
  <h2>UNTURNED NPCs</h2>
  <ul>
    <li>1-Si compras un pack de NPCs tienes hasta un mes para reclamar todos, se
      pasa el mes y tendras que comprar de nuevo el pack de NPCs (Puede haber la
      excepción si no hay ningun NPCs Marker Disponible, Se extiende el tiempo
      que que no estaba disponible)</li>
    <li>2-Usted nos tiene que dar los mods que quiere ese NPCs</li>
    <li>3-Necesitamos que nos de los limites de esos NPCs, que objectos no puede
      vender puede ser algo en general o algo en especifico (Nosotros no hacemos
      TEST de los mods)</li>
    <li>4-Si necesitas una modificacion de un NPCs se puede hacer hasta 2 Meses
      de tu compra</li>
    <li>5-Neceitaremos un Nombre a quien se hace los NPCs, por ejemplo para el
      servidor que sera</li>
    <li>6-Todos los NPCs tendran una marca de agua que dira que son hechos por
      nosotros y son consedidos para usted (NO ES VISIBLE SI NO QUIERES EDITAR
      EL NPC)</li>
  </ul>
  <hr />
  <h2>UNTURNED CONFIGURACION</h2>
  <ul>
    <li>1-Tendras que compartinos la direcion del panel de tu servidor (Solo se
      compartira a Kawui#0008), Y Se creara un Usuario para editar el servidor
      sin poder Hacer ningun RAID</li>
    <li>2-Desde el momento que compra y proposione el usuario y contraseña del
      panel tendra solo una semana para que le configuren los que compro</li>
    <li>3-NO HACEMOS KITS</li>
    <li>4-No incluye plugins de paga, pero si usted compro uno lo podemos
      configurar</li>
  </ul>
  <hr />
  <h2>BOT DE DISCORD</h2>
  <ul>
    <li>1-Tendra que pagar el host cada mes de su bot, Por ser comprado de
      nosotros el costo es mucho menor a un host normal</li>
    <li>2-Tienes que decir como te gustaria el bot en un plazo de 2 semanas</li>
    <li>3-No incluyen DashBoard </li>
  </ul>
  <hr />
  <h2>PAGINAS WEB</h2>
  <ul>
    <li>1-Si deseas un DOMINIO tendras que pagar lo que cueste el dominio y
      usted tendra que matendredo
    </li>
    <li>2-Usted tiene que pagar el host de la pagina</li>
    <li>3-Las Paginas primero se diseñan para PC y luego Para MOVIL</li>
  </ul>
</div>