<div id="sidemenu" class="menu-collapsed">
  <div id="header">
    <div id="title"><span>DePic</span></div>
    <div id="menu-btm">
      <div class="btn-hamburger"></div>
      <div class="btn-hamburger"></div>
      <div class="btn-hamburger"></div>
    </div>
  </div>
  <div id="profile">
    <div id="photo"><img
        src="https://cdn.discordapp.com/attachments/763804175510929469/813806894266974218/DePic_2.png"
        alt=""
      /></div>
    <div id="name"><span>DePic Web</span></div>
  </div>
  <div id="menu-items">
    <div class="item">
      <a href="">
        <div class="icon"><img
            src="https://cdn.discordapp.com/attachments/763804175510929469/813806894266974218/DePic_2.png"
            alt=""
          /></div>
        <div class="title"><span>Depic webs</span></div>
      </a>
    </div>
  </div>

</div>