<div>
  <div class="card mb-3 cardDash">
    <img
      src="https://cdn.discordapp.com/attachments/763804175510929469/828482268003041351/Discord-LogoWordmark-Color.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h2 class="card-title text-center">Bots sencillos</h2>
      <div class="row text-center">
        <div class="col-sm-4">
          <p class="">Mas de 30 comandos<br />Personalizable!<br />Comandos de
            informacion de tu comunidad!</p>
        </div>
        <div class="col-sm-4">
          <p class=""><a href="#">Ver</a>
            Terminos y condiciones
            <br />La unica forma de pagar es por paypal</p>

        </div>
        <div class="col-sm-4">
          <p class="">Despues de comprar te aparecera un formurario para que
            ingreses los datos del bot que quieres</p>

        </div>
      </div>
      <hr />
      <p class="card-text"><small class="text-muted">Top!</small></p>
    </div>
  </div>
</div>