
<h1 class="text-center">DePic</h1>
<p class="text-center" style="color: #ACACAC;">Crea tu proxima gran comunidad con DePic</p>
<div class="text-center">
    
    <img src="https://cdn.discordapp.com/attachments/488521339305459713/828115728963338270/DePicLogo.png" class="PersonCard text-center depicFondo" style="width: 50%;" alt="">
        <h2 class="seperar text-center"></h2>
        <h2 class="seperar text-center"></h2>
</div>
<div>
    <h2><p class="PersonCard" style="padding: 10px;">Es una pagina web que empezo como un proyecto de una sola persona y era un bot de discord simple, ahora
            . . . Mira lo que se combirtio, Esto sera proximamente en una Bot List, tambien es servidores de distintos
            juegos, Tambien ofrecemos varios servicios para comprar y queremos formar una comunidad buena y no toxica
            :D, <a href="https://discord.gg/dvg3rvWk56">Unirse :D</a>
        </p>
    </h2>
    <div>
        <h2 class="seperar text-center"></h2>
    <div class="container text-center">
        <div class=" row row-cols-6">
<h1></h1>
<h1></h1>
          <div>
              {{#if user}}
                <a class="" href="/dash"><button type="button" class="btn btn-outline-light">Ir a la Dashboard!</button></a>
              {{ else }}
                <a class="" href="/login"><button type="button" class="btn btn-outline-light">Iniciar Sesion!</button></a>
              {{/if}}
          </div>
                <a class="" href="/login"><button type="button" class="btn btn-outline-info">Invitar bot!</button></a>
        </div>
    </div>
</div>
</div>
<div class="seperar text-center">
<div class="seperar text-center">




    <!--figure class="animate depicFondo">
        <img src="https://cdn.discordapp.com/attachments/488521339305459713/828115728963338270/DePicLogo.png"
            class="d-block w-100 depicFondo" alt="..." width="60" height="600">
    </figure-->

</div>
<div>
    <div class="container text-center">
        <div class=" row row-cols-2">
                <img src="https://cdn.discordapp.com/attachments/488521339305459713/856697354807803925/Sin_titulo_9.png" alt="" style="width: 1000px;">
                <p style="padding-top: 25%;">Help Sencillo y facil de usar y para toda la familia <br>Soporte todos los dias de la semana<br> actualizacion casi diaria</p>
        </div>
    </div>
</div>
        <h2 class="seperar text-center"></h2>
        <h2 class="seperar text-center"></h2>
<div>
    <div class="container text-center">
        <div class=" row row-cols-2">
                <p style="margin-top: 15%">Warns, logs, Bienvenidas, <br>Sugerencias, Confesiones y mas <br> Todos configurable con DePic</p>
                <img style="padding-top: 5%;"src="https://cdn.discordapp.com/attachments/488521339305459713/856704610844672030/Sin_titulo_11.png" alt="" style="width: 1000px;">
        </div>
    </div>
</div>
        <h2 class="seperar text-center"></h2>
        <h2 class="seperar text-center"></h2>
        <h2 class="seperar text-center"></h2>
        <h2 class="seperar text-center"></h2>

<div>
    <h2 class="divCard text-center">Staff</h2>
    <div class="PersonCard container text-center">
        <div class=" PersonCard row row-cols-3">
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/attachments/488521339305459713/841033872660496404/a_2323835c46528300a96a5429665a5c92.gif"
                    alt="" width="60" height="60">
                <p>Kawui <span class="badge bg-primary">CEO</span> <span class="badge bg-dark">Team DePic</span></p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/439650171811266560/a_5def773d31fb26c61262f8eaa4a62273.gif?size=4096"
                    alt="" width="60" height="60">
                <p>Toomdj01 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team DePic</span>
                </p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/attachments/488521339305459713/841033379859529758/b40f7e27b0100b36705f521f0fa5a513.png"
                    alt="" width="60" height="60">
                <p>zCreex180 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team DePic</span>
                </p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/331286368980303874/a_a30c706aaab89ec75ea527c39bf26983.gif?size=4096"
                    alt="" width="60" height="60">
                <p>SrLoki <span class="badge bg-danger">Ayudantes</span></p>
            </div>
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/attachments/488521339305459713/841034999074914324/1bccfe78c09a13584a4a110be69a6f78.png"
                    alt="" width="60" height="60">
                <p>Loading... <span class="badge bg-danger">Ayudantes</span></p>
            </div>
        </div>
    </div>

</div>
        <h2 class="seperar text-center"></h2>
<hr>
<div>
    <h2 class="divCard text-center ">Proyectos</h2>
    <div class="PersonCard container text-center">
        <div class="row row-cols-3">
            <div>
                <img class="depicLogosxd"
                    src="https://cdn.discordapp.com/avatars/763582048995639296/3375200c74d09ef219704dfee8a1ce58.webp"
                    alt="" srcset="" width="60" height="60">
                <p></p>DePic <span class="badge bg-primary">DiscordBot</span></p>
            </div>
            <div>
                <img src="https://cdn.discordapp.com/attachments/660237048749228060/784922254298578984/DePicLetras.png"
                    alt="" srcset="" width="60" height="60">
                <p>DePic Support <span class="badge bg-primary">PaginaWeb</span>
                </p>
            </div>
            <div>
                <img src="https://th.bing.com/th/id/Ra5601b2b55765a70c084b6e09d7804fe?rik=qdFpqZxIZy%2bg9w&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpapirus-team%2fpapirus-apps%2f512%2funturned-icon.png&ehk=ncu2TCgwFCjvx80T1%2fkwr75EctY0ItmQLRb6kNFEPS8%3d&risl=&pid=ImgRaw"
                    alt="" srcset="" width="60" height="60">
                <p>Unturned servers <span class="badge bg-warning">Servidores</span>
                </p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="seperar text-center"></h2>
    </div>
</div>
<hr>
<div>
    <h2 class="divCard separar text-center ">Contribullentes</h2>
    <div>
        <div class="PersonCard container text-center">
            <div class="row row-cols-2">
                <div>
                    <img class="depicLogosxd"
                        src="https://cdn.discordapp.com/attachments/488521339305459713/841033872660496404/a_2323835c46528300a96a5429665a5c92.gif"
                        alt="" width="60" height="60">
                    <p>Kawui <span class="badge bg-primary">CEO</span> <span class="badge bg-dark">Team DePic</span></p>
                    <p>Fundador de DePic</p>
                    <hr>
                </div>
                <div>
                    <img class="depicLogosxd"
                        src="https://cdn.discordapp.com/avatars/439650171811266560/a_5def773d31fb26c61262f8eaa4a62273.gif?size=4096"
                        alt="" width="60" height="60">
                    <p>Toomdj01 <span class="badge bg-warning">Soporte</span> <span class="badge bg-dark">Team
                            DePic</span>
                    </p>
                    <p>Apoyo en el comando memes, aportador de ideas y tester</p>
                    <hr>
                </div>
                <div>
                    <img class="depicLogosxd"
                        src="https://cdn.discordapp.com/avatars/802718920314060822/3a7f190c7736ccf6ff4a2e913b8d763f.webp?size=4096"
                        alt="" width="60" height="60">
                    <p>MILIAMGスレーブ </p>
                    <p>Apoyo de ideas en platicamente toda <br> la actualizacion de la V1 de DePic</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>