<link rel="stylesheet" href="/css/shopcss.css" />
<div>
  <h1 class="text-center">Tienda de Unturned</h1>
  <p class="text-center">Aqui puedes ver todo lo que ofrecemos para usted, si
    estas pensando crear un servidor de unturned y no tienes ni idea de como
    hacerlo aqui puedes ver los paquetes que hay</p>
  <p>Si compras algo aceptas los terminos y conduciones, aqui los puedes
    <a href="/tienda/terms">Ver.</a>
  </p>
  <hr />
  <div>
    <div class="text-center row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card cardNoDash" style="width: 18rem;">
          <h2 style="background-color: #1A374D" class="TitleBack">Pack de 10
            NPCs</h2>
          <hr />
          <p>Pack de 10 NPCs que pueden vender o simplemete hablar con usuarios</p>
          <hr />
          <p>Costo: 9.99$</p>
        </div>
      </div>
      <div class="col">
        <div class="card cardNoDash" style="width: 18rem;">
          <h2 style="background-color: #406882" class="TitleBack">Pack de 20
            NPCs</h2>
          <hr />
          <p>Pack de 20 NPCs que pueden vender o simplemete hablar con usuarios</p>
          <hr />
          <p>Costo: 18.99$</p>
        </div>
      </div>
      <div class="col">
        <div class="card cardNoDash" style="width: 18rem;">
          <h2 style="background-color: #6998AB" class="TitleBack">Pack de 30
            NPCs</h2>
          <hr />
          <p>Pack de 30 NPCs que pueden vender o simplemete hablar con usuarios</p>
          <hr />
          <p>Costo: 27.99$</p>
        </div>
      </div>
      <div class="col">
        <div class="card cardNoDash" style="width: 18rem;">
          <h2 style="background-color: #B1D0E0" class="TitleBack">Pack de 40
            NPCs</h2>
          <hr />
          <p>Pack de 40 NPCs que pueden vender o simplemete hablar con usuarios</p>
          <hr />
          <p>Costo: 36.99$</p>
        </div>
      </div>
    </div>
    <hr />

    <div
      class="text-center row-cols-1 row-cols-md-2 row g-4"
      style="margin-left: 8%"
    >
      <div class="col-sm-6">
        <div class="card w-75" style="width: 18rem;">
          <h2 style="background-color: #548CFF" class="TitleBack">Configuracion
            Avanzada</h2>
          <hr />
          <p>Son los servicios de configuracion avanzada de un servidor de
            unturned ya sea
            <b>RolePlay o Survirval, ETC</b>, aparte de que se puede configurar
            al gusto (Con los limites de los plugins o el mismo unturned)</p>
          <hr />
          <p>Costo: 13.99$</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card w-75" style="width: 18rem;">
          <h2 style="background-color: #541212" class="TitleBack">Configuracion
            Basico</h2>
          <hr />
          <p>La configuracion basica de un servidor de unturned,
            <br />Aqui no se puede especializar en un sector en concreto</p>
          <hr />
          <p>Costo: 6.99$</p>
        </div>
      </div>
    </div>
    <hr />
    <h1 class="text-center">Packs Completos</h1>
    <div
      class="text-center row-cols-1 row-cols-md-3 row g-4"
      style="margin-left: 8%"
    >
      <div class="col-sm-6">
        <div class="card w-75" style="width: 18rem;">
          <h2 style="background-color: #9EDE73" class="TitleBack">Paquete
            Survival</h2>
          <hr />
          <p>Configuracion de Especialidad para un survival que pueden tener
            kits y al gusto que quieras</p>
          <hr />
          <p>Costo: 8$</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card w-75" style="width: 18rem;">
          <h2 style="background-color: #F7EA00" class="TitleBack">Paquete RP
            Basico</h2>
          <hr />
          <p>Tiene 20 NPCs y Configuracion Especialidad Para un RolePlay lo
            basico para un RolePlay (No incluye plugins de paga, Y solo permisos
            basicos)</p>
          <hr />
          <p>Costo: 27.99$</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card w-75" style="width: 18rem;">
          <h2 style="background-color: #E48900" class="TitleBack">Paquete RP
            Avanzada</h2>
          <hr />
          <p>Tiene 40 NPCs y Configuracion Especialidad Para un RolePlay lo
            Avanzada para un RolePlay, Y al gusto que quiera (No incluye plugins
            de paga)</p>
          <hr />
          <p>Costo: 44.99$</p>
        </div>
      </div>
    </div>
  </div>
</div>