<div>
    <h1>Pago realizado con exito!</h1>
    <p>Aqui especifique su compra si
        <br>
    <p>Introdusca la informacion del pedido</p>
    <!-- <br>Si es una configuracion de unturned Coloque:
    <br>Configuracion de unturned
    <br>-->
    <textarea name="SoliBS" class="form-control" id="exampleFormControlTextarea1" rows="10" cols="400">
        Si es un bot de discord coloque esto:
        Tipo de bot:
        Nombre de discord:
        Comandos que quiere:
        Nombre del bot:
        Enlace de foto de perfil:
    </textarea>
    <button class="btn btn-dark" type="submit">Enviar!</button>
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>

    </p>
    <input name="prefix" type="text" class="colorblack FormasBS">
    </p>
    <h3>Ejemplo</h3>
    <p><br>Si es un bot de discord coloque esto:
        <br>Tipo de bot:
        <br>Nombre de discord:
        <br>Comandos que quiere:
        <br>Nombre del bot:
        <br>Enlace de foto de perfil:
        <br>Cuando coloque esto unos de nuestros desarolladores reclamara su pedido y lo empezara a hacer
    </p>
</div>