<h2>Preguntas</h2>
<div>
    <div class="text-center row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <h5 class="card-header ">多Cual es el prefix?</h5>
                <div class="card-body">
                    <p class="card-text">El prefix del bot es &, pero el servidor pueden cambiar el prefix cuando sea
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">多Como usar el comando AddRol?</h5>
                <div class="card-body">
                    <p class="card-text">Su uso es sencillo pero si no sabes como usarlo o directamente no sabes el
                        uso es &AddRol @ROL @USUARIO, Nota: Necesitas mencionar al rol y al usuario
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">多Como usar el comando DelRol?</h5>
                <div class="card-body">
                    <p class="card-text">Su uso es sencillo pero si no sabes como usarlo o directamente no sabes el
                        uso es &DelRol @ROL @USUARIO> , Nota: Necesitas mencionar al rol y al usuario
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">多Porque la musica se escucha trabada?</h5>
                <div class="card-body">
                    <p class="card-text">No es tu problema, el problema es de nosotros sorry por la mala calidad
                        pero es problema con el host, despues actualizaremos a un host mejor para escuchar la musica
                        bien
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>