<h1>Terminos y condiciones</h1>
<div class="terms">
  1.- Al momento que usted realice una compra, usted acepta y entiende en su
  totalidad los términos previamente explicados.
  <br />
  2.-Solo se puede pagar por paypal
  <br />
  3.-Si eres baneado, kickeado o warneado en este discord tus compras seguiran
  vigentes hasta que:
  <br />
  En casos del bots de discord asta que lo saques del servidor
  <br />
  Paginas web estas siempre estaran activas
  <br />
  configuracion de unturned asta que se acabe la subcricion
  <br />
  Npcs Si te falta unos npcs de tu compra tienes una semana para reclamalos<br
  />
  4.-Comprar algo no te hace exento de sanciones
  <br />
  5.-Solo hay devoluciones a las 24 horas que se entrego el producto
  <br />
  6.-Todo pago subcricion etc, se tiene que pagar a Kawui#0008 (@Kawui), solo al
  el si un miembro del staff o usuario te pide que le pages a el reportalo a un
  administrador
  <br />
  7.- Recuerde que esto podrá ir cambiando, ya sea agregando o eliminando
  ciertas cosas así que por favor estar pendiente de este canal.
  <br />
  8.- Esos terminos pueden ser cambiados con previo aviso
</div>
<h1>Terminos y condiciones de @DePic </h1>
<div class="terms">
  1.- No nos hacemos remposables del mal uso de @DePic en un servidor, si quiere
  lo puede reportar con &report, (En caso que nos dañe a nosotros se metera en
  la blacklist del bot)
  <br />
  2.- Si sobrecargas (Demaciado) el bot, se te bloquiara el uso de este
  <br />
  3.- Si eres usuario y vez que los administradores de un servidor usan mal el
  bot puedes reportalo
  <br />
  4.- Estos terminos pueden cambiar sin previo aviso<br />
</div>